<div class="container vh-100">
  <div class="row align-items-center h-100">
    <div class="col-md-8 offset-md-2">
      <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
        <h1 class="display-4">Register</h1>
        <div class="form-group required">
          <label>Username</label>
          <input class="form-control" formControlName="UserName" />
          <label class="text-danger" *ngIf="service.formModel.get('UserName').touched && service.formModel.get('UserName').errors?.required">This field is mandatory.</label>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input class="form-control" formControlName="Email" />
          <label class="text-danger" *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email">Invalid email address.</label>
        </div>
        <div formGroupName="Passwords">
          <div class="form-group required">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="Password" />
            <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">This field is mandatory.</label>
            <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.minlength">Minimum of 4 characters required.</label>
          </div>
          <div class="form-group required">
            <label>Confirm Password</label>
            <input type="password" class="form-control" formControlName="ConfirmPassword" />
            <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">This field is mandatory.</label>
            <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Confirm Password does not match.</label>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="isAdminCheckBox" (change)="onChange($event.target.checked)">
            <label class="form-check-label" for="isAdminCheckBox">Has Administrative Functions</label>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!service.formModel.valid">SIGN UP</button>
        </div>
      </form>
    </div>
  </div>
</div>
