<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1>LOGIN</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <form #form='ngForm' class="mg-4" autocomplete="off" (submit)="onSubmit(form)">
      <div class="form-group">
        <label>Username</label>
        <input class="form-control" #UserName="ngModel" name="UserName" [(ngModel)]="formModel.UserName">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" #Password="ngModel" name="Password" [(ngModel)]="formModel.Password">
      </div>
      <div class="form-row">
        <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="form.Invalid">Login</button>
      </div>
    </form>
  </div>
</div>
