<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand text-light" href="#">Test Application</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-light" [routerLink]='["/user/all"]'>User List</a>
      </li>
    </ul>
    <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
  </div>
</nav>

<div class="card m-5" style="width: 18rem" *ngIf="userDetails">
  <ul class="list-group">
    <li class="list-group-item">
      <strong>Username: </strong>{{userDetails.userName}}
    </li>
    <li class="list-group-item">
      <strong>Email: </strong>{{userDetails.email}}
    </li>
  </ul>
</div>
